<!DOCTYPE html>
<html>
<head>
    <link href="~/CSS/DevilSheet.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/SCRIPTS/jquery.min.js"></script>
</head>

<body>
    <div class="box">
            <p class="maintitle">WELCOME TO THE DEVILS WAREHOUSE</p>
            <p class="small-text">Do You Dare To Enter?</p>
    </div>
    
    
    <div>
        <div class="content">
            <p class="normal-text">WareHouse Locations</p>
        </div>

        <div class="content">
            <p class="normal-text">Show All Items</p>
        </div>

        <div class="content">
            <p class="normal-text">About us</p>
        </div>

    </div>


</body>
</html>