<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/CSS/NormalSheet.css" rel="stylesheet" type="text/css" />
    <script src="~/SCRIPTS/jquery.min.js"></script>
    <script src="~/SCRIPTS/About.js"></script>

    <title>Who are we?</title>
</head>
<body>
    <h1>An Awesome Header</h1>
    <div>
        <div class="infoBox">
            <p>Something something</p>
        </div>

        <div class="infoBox">
            <div><p>Something</p></div>
            <div><p>Something again</p></div>
            <div><p>Something even more</p></div>
        </div>

    </div>

        <div>
            <iframe id="MovieTime" class="MovieFrame" src="https://www.youtube.com/embed/TfjOduIdT54" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
</body>
</html>
