<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8" />
    <link href="~/CSS/NormalSheet.css" rel="stylesheet" type="text/css" />

    <title>Item List</title>
</head>
<body>
</body>
</html>
