<!DOCTYPE html>
<html>
<head>
    <link href="~/CSS/NormalSheet.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <div class="top-bar">
            <a href="https://localhost:44391/Devil/Devil">Do not click here!</a>
        </div>
        <div>
            <p class="maintitle">WELCOME TO THE WAREHOUSE</p>
        </div>
    </div>

    <div>
        <div class="content">
            <p class="normal-text">WareHouse Locations</p>
        </div>

        <div class="content">
            <p class="normal-text">Show All Items</p>
        </div>

        <div class="content">
            <p class="normal-text">About us</p>
        </div>

        <div class="content">
            <a class="fun-text" href="https://localhost:44391/Home/Picture">Picture of the day</a>
        </div>
    </div>


</body>
</html>