<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8" />
    <link href="~/CSS/NormalSheet.css" rel="stylesheet" type="text/css" />
    <script src="~/SCRIPTS/jquery.min.js"></script>
    <script src="~/SCRIPTS/PictureOfTheDay.js"></script>

    <title>Picture of the day</title>
</head>
<body>
    <div id="button" class="content">
        <h1 class="normal-text"> Click me to show PICTURE OF THE DAY</h1>
    </div>

    <div id="dataholder">
        <p id="MediaTitle"></p>
        <p id="Date"></p>
        <p id="Explanation"></p>
        <p id="NasaLink"></p>
        <iframe id="Frame" src=""></iframe>
        <img id="Picture" src="" />
    </div>
</body>
</html>
